div.card.text-white.bg-dark.mb-3
    div.card-body
        h5.card-title #{review.name}
        - let starIndex = 0;

        while starIndex < review.score
            i#star.fa.fa-star.me-1(style={color: "yellow"})
            - starIndex++;
        p.card-text.fw-bold.ms-2(style={display: "inline-block"}) #{review.score} / 10
        if author
            p.card-text #{" Posted By "}
            a(href=`/users/${author.id}`) #{ author.username}
        p.card-text #{review.summaryText}

        button.btn.btn-outline-primary(type='button' data-bs-toggle='collapse' data-bs-target=`#review-details${cardIndex}` aria-expanded='false' aria-controls=`review-details${cardIndex}`) View Details
        div.collapse.mt-3(id=`review-details${cardIndex}`)
            p.card.card-body.bg-dark.border-light #{review.fullText}

