html
    head
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    style
        include ../../stylesheets/index.css
    script
        include ../../scripts/person.js

    title Person Page
    body
        include ../partials/navbar

        div#personNameSection.container.mt-5
            h1.mb-3 #{person.name}
            if !following
                button.btn.btn-outline-primary.mb-5(onclick='followPersonHandler("' + userId + '", "' + person._id + '")') Follow
            else
                button.btn.btn-outline-danger.mb-5(onclick='unfollowPersonHandler("' + userId + '", "' + person._id + '")') Unfollow

        div#personCollaborators.container.mb-3
            hr
            h2.display-6 Frequent Collaborators
            ul.list-group.list-group
                each person in frequentCollaborators
                    li.list-group-item
                        a(href=`/people/${person.id}`) #{person.name}

        div#workHistory.container
            hr
            h2.display-6 Work History

            if moviesWritten.length !== 0
                h3.mt-4 Writer
                ul.list-group.list-group
                    each movie in moviesWritten
                        li.list-group-item
                            a(href=`/movies/${movie.id}`) #{movie.title}
            if moviesDirected.length !== 0
                h3.mt-4 Director
                ul.list-group
                    each movie in moviesDirected
                        li.list-group-item
                            a(href=`/movies/${movie.id}`) #{movie.title}
            if moviesActed.length !== 0
                h3.mt-4 Actor:
                ul.list-group
                    each movie in moviesActed
                        li.list-group-item
                            a(href=`/movies/${movie.id}`) #{movie.title}
